# Natural Language Processing (NLP)

Natural language processing (NLP) refers to the branch of computer science—and more specifically, the branch of artificial intelligence or AI—concerned with giving computers the ability to understand text and spoken words in much the same way human beings can.

# NLP model with ML on Trip_advisor_review dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import math
import warnings
warnings.filterwarnings('ignore')

In [2]:
trip = pd.read_csv(r"D:\Python\Python data set lec\NLP\Trip_advisor_review.csv" )

In [3]:
trip.shape

(20491, 2)

In [4]:
trip.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

# To check null values

In [5]:
trip.isnull().sum()

Review    0
Rating    0
dtype: int64

# Target variable

In [6]:
trip.Rating.value_counts()

5    9054
4    6039
3    2184
2    1793
1    1421
Name: Rating, dtype: int64

# Process the Data

After analyzing the dataset, the next step is to preprocess the dataset into the right format before creating our machine learning model.

The reviews in this dataset contain a lot of unnecessary words and characters that we don't need when creating a machine learning model , also their is some upper & lower case string which we have to convert it into either lower case or upper case.

We will clean the messages by removing stopwords, numbers, and punctuation. Then we will convert each word into its base form.

# Convert all upper string case into lower string case

In [7]:
trip.Review = trip.Review.str.lower()

In [8]:
trip

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not 4* experience hotel monaco seat...       3
3      unique, great stay, wonderful time hotel monac...       5
4      great stay great stay, went seahawk game aweso...       5
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

[20491 rows x 2 columns]

# Remove the stopwords & punctuation marks by using user-defined function

In [9]:
from nltk.corpus import stopwords

In [10]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [11]:
len(stopwords.words('english'))

179

In [12]:
import string

In [13]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [14]:
def text_process(mess):            ### creating a function
    """                                                        ## A docstring
    1. remove the punctuation
    2. remove the stopwords
    3. return the list of clean textwords
    
    """
    nopunc = [char for char in mess if char not in string.punctuation]
    nopunc = "".join(nopunc)
    
    return [ word for word in nopunc.split() if word not in stopwords.words("english")]

In [15]:
trip.Review.apply(text_process)

0        [nice, hotel, expensive, parking, got, good, d...
1        [ok, nothing, special, charge, diamond, member...
2        [nice, rooms, 4, experience, hotel, monaco, se...
3        [unique, great, stay, wonderful, time, hotel, ...
4        [great, stay, great, stay, went, seahawk, game...
                               ...
20486    [best, kept, secret, 3rd, time, staying, charm...
20487    [great, location, price, view, hotel, great, q...
20488    [ok, looks, nice, modern, outside, desk, staff...
20489    [hotel, theft, ruined, vacation, hotel, opened...
20490    [people, talking, ca, nt, believe, excellent, ...
Name: Review, Length: 20491, dtype: object

# CountVectorizer ... Count of each & every words

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

In [17]:
bow_transformer = CountVectorizer(analyzer = text_process).fit(trip['Review'])

In [18]:
bow_transformer.vocabulary_

{'nice': 49206,
 'hotel': 36909,
 'expensive': 28378,
 'parking': 53208,
 'got': 33582,
 'good': 33347,
 'deal': 21915,
 'stay': 68556,
 'anniversary': 6999,
 'arrived': 8200,
 'late': 42141,
 'evening': 27588,
 'took': 73466,
 'advice': 5264,
 'previous': 56545,
 'reviews': 61027,
 'valet': 76980,
 'check': 16606,
 'quick': 57945,
 'easy': 25627,
 'little': 43220,
 'disappointed': 23592,
 'nonexistent': 49873,
 'view': 77537,
 'room': 61740,
 'clean': 17592,
 'size': 65815,
 'bed': 11090,
 'comfortable': 18553,
 'woke': 80136,
 'stiff': 68860,
 'neck': 48790,
 'high': 36036,
 'pillows': 54643,
 'soundproof': 67119,
 'like': 42920,
 'heard': 35439,
 'music': 48313,
 'night': 49383,
 'morning': 47723,
 'loud': 43892,
 'bangs': 9939,
 'doors': 24555,
 'opening': 51490,
 'closing': 17921,
 'hear': 35436,
 'people': 53896,
 'talking': 70917,
 'hallway': 34815,
 'maybe': 45647,
 'noisy': 49763,
 'neighbors': 48969,
 'aveda': 9092,
 'bath': 10462,
 'products': 57041,
 'goldfish': 33298,
 'touch': 73692,
 'taken': 70875,
 'advantage': 5208,
 'staying': 68615,
 'longer': 43710,
 'location': 43468,
 'great': 33863,
 'walking': 78149,
 'distance': 24024,
 'shopping': 64918,
 'overall': 52302,
 'experience': 28438,
 'pay': 53616,
 '40': 2678,
 'ok': 50978,
 'nothing': 50158,
 'special': 67421,
 'charge': 16407,
 'diamond': 23091,
 'member': 46010,
 'hilton': 36190,
 'decided': 22063,
 'chain': 16163,
 'shot': 65035,
 '20th': 1592,
 'seattle': 63659,
 'start': 68396,
 'booked': 12751,
 'suite': 69793,
 'paid': 52769,
 'extra': 28676,
 'website': 78862,
 'description': 22719,
 'bedroom': 11166,
 'bathroom': 10497,
 'standard': 68222,
 'printed': 56761,
 'reservation': 60210,
 'desk': 22793,
 'showed': 65077,
 'said': 62608,
 'things': 72300,
 'tv': 75134,
 'couch': 20311,
 'ect': 25778,
 'clerk': 17777,
 'told': 73351,
 'oh': 50948,
 'mixed': 47141,
 'suites': 69812,
 'kimpton': 41374,
 'sorry': 67062,
 'free': 31415,
 'breakfast': 13311,
 'kidding': 41293,
 'embassy': 26322,
 'suits': 69828,
 'sitting': 65768,
 'unlike': 76059,
 'calls': 14789,
 '5': 3023,
 'day': 21679,
 'offer': 50795,
 'correct': 20187,
 'false': 29030,
 'advertising': 5254,
 'send': 64020,
 'preferred': 56270,
 'guest': 34349,
 'email': 26278,
 'asking': 8405,
 'failure': 28956,
 'provide': 57364,
 'advertised': 5248,
 'furnished': 32191,
 'hard': 35108,
 'copy': 20092,
 'printout': 56769,
 'manager': 44900,
 'duty': 25411,
 'reply': 60010,
 'solution': 66828,
 'trip': 74597,
 'survey': 70383,
 'follow': 30716,
 'mail': 44647,
 'guess': 34341,
 'tell': 71416,
 'concerned': 19168,
 'guestthe': 34401,
 'staff': 68004,
 'ranged': 58384,
 'indifferent': 38678,
 'helpful': 35651,
 'asked': 8394,
 'spots': 67761,
 'neighborhood': 48957,
 'hood': 36703,
 'hotels': 37118,
 'gee': 32658,
 'best': 11729,
 '12': 499,
 'block': 12383,
 'away': 9212,
 'convenient': 19858,
 'know': 41556,
 'exist': 28228,
 '11': 361,
 'pm': 55338,
 'inside': 39103,
 'run': 62371,
 'bellman': 11501,
 'busy': 14371,
 'chating': 16523,
 'cell': 15915,
 'phone': 54407,
 'help': 35626,
 'bagsprior': 9672,
 'arrival': 8177,
 'emailed': 26280,
 'inform': 38846,
 'half': 34751,
 'really': 58693,
 'picky': 54529,
 'wanted': 78308,
 'make': 44749,
 'sure': 70253,
 'saying': 63144,
 'deliver': 22456,
 'bottle': 13001,
 'champagne': 16248,
 'chocolate': 16989,
 'covered': 20551,
 'strawberries': 69174,
 'celebrate': 15896,
 'needed': 48809,
 'foam': 30647,
 'alley': 6148,
 'rise': 61349,
 'building': 14015,
 'better': 11800,
 'housekeeping': 37381,
 'cleaner': 17628,
 'property': 57243,
 'impressed': 38275,
 'left': 42472,
 'short': 64991,
 'trips': 74682,
 '2': 1375,
 'hours': 37323,
 'beds': 11179,
 'comfortablenot': 18608,
 'acheat': 4766,
 'control': 19815,
 '4': 2677,
 'x': 80723,
 'inch': 38421,
 'screen': 63447,
 'bring': 13602,
 'green': 34000,
 'shine': 64783,
 'directly': 23510,
 'eyes': 28773,
 'light': 42862,
 'sensitive': 64055,
 'tape': 70999,
 'controlsthis': 19828,
 'business': 14270,
 'super': 70056,
 'rates': 58480,
 'rooms': 61906,
 'monaco': 47402,
 'nt': 50337,
 'levelpositives': 42710,
 'large': 42064,
 'mediterranean': 45895,
 'pillowsattentive': 54644,
 'staffnegatives': 68082,
 'ac': 4482,
 'unit': 76017,
 'malfunctioned': 44809,
 'disorganized': 23904,
 'missed': 47063,
 '3': 2239,
 'separate': 64083,
 'wakeup': 78090,
 'concierge': 19206,
 'guidance': 34409,
 'requeststv': 60129,
 'use': 76660,
 'ipod': 39616,
 'sound': 67111,
 'dock': 24211,
 'non': 49797,
 'functioning': 32096,
 'book': 12745,
 'weekend': 78948,
 '1st': 1356,
 'choice': 17007,
 'rest': 60521,
 'party': 53366,
 'filled': 29804,
 'comparison': 18864,
 'w': 77941,
 'spent': 67570,
 '45': 2861,
 'larger': 42073,
 'square': 67881,
 'footage': 30914,
 'soaking': 66641,
 'tub': 74927,
 'whirlpool': 79629,
 'jets': 40539,
 'showerbefore': 65088,
 'arrange': 8149,
 'car': 15165,
 'service': 64206,
 'price': 56563,
 '53': 3150,
 'tip': 73037,
 'reasonable': 58737,
 'driver': 25119,
 'waiting': 78055,
 'arrivalcheckin': 8183,
 'downside': 24806,
 'picked': 54503,
 'person': 54173,
 'jacuzi': 40251,
 'accessories': 4565,
 'salts': 62727,
 'bubble': 13819,
 '121a': 556,
 'checked': 16608,
 'voucher': 77904,
 'gesture': 32849,
 'fish': 30067,
 'impression': 38295,
 'huge': 37518,
 'open': 51468,
 'space': 67209,
 'felt': 29605,
 'big': 11976,
 'far': 29223,
 'chore': 17094,
 'change': 16304,
 'channel': 16337,
 'broken': 13676,
 'disappointingin': 23636,
 'way': 78735,
 'thermostat': 72204,
 '65f': 3482,
 '74': 3701,
 'degrees': 22330,
 'warm': 78369,
 'try': 74875,
 'cover': 20549,
 'face': 28828,
 'bright': 13572,
 'blue': 12464,
 'kept': 41198,
 'drop': 25151,
 'called': 14769,
 'maintainence': 44690,
 'came': 14829,
 'look': 43754,
 'play': 55043,
 'settings': 64409,
 'happy': 35046,
 'digital': 23329,
 'box': 13107,
 'wo': 80127,
 'work': 80293,
 '10am': 291,
 'happen': 35010,
 'later': 42159,
 '6pm': 3561,
 'nap': 48536,
 'forgot': 31063,
 'yep': 80910,
 'forgottenthe': 31069,
 'facilities': 28867,
 'surprised': 70325,
 'sold': 66797,
 'amenities': 6597,
 'relax': 59601,
 'water': 78589,
 'going': 33276,
 'unique': 76006,
 'wonderful': 80166,
 'time': 72840,
 'excellent': 27955,
 'stroll': 69363,
 'main': 44661,
 'downtown': 24828,
 'area': 7794,
 'pet': 54293,
 'friendly': 31658,
 'signs': 65487,
 'animal': 6957,
 'hair': 34696,
 'smells': 66326,
 'sleeping': 66043,
 'striped': 69339,
 'curtains': 21244,
 'pulled': 57522,
 'closed': 17883,
 'cosy': 20292,
 'named': 48496,
 'brandi': 13199,
 'enjoyed': 26685,
 'partake': 53285,
 'wine': 79912,
 'coffeetea': 18269,
 'lobby': 43343,
 'thought': 72519,
 'feature': 29472,
 'wireless': 79989,
 'internet': 39361,
 'worked': 80309,
 'laptops': 42049,
 'decor': 22112,
 'lovely': 44004,
 'eclectic': 25742,
 'mix': 47140,
 'pattens': 53576,
 'color': 18454,
 'palatte': 52865,
 'print': 56760,
 'bathrobes': 10492,
 'feel': 29543,
 'rock': 61555,
 'stars': 68366,
 'sterile': 68809,
 'personality': 54185,
 'went': 79332,
 'seahawk': 63561,
 'game': 32384,
 'awesome': 9292,
 'downfall': 24768,
 'complain': 18945,
 'package': 52690,
 'taxi': 71173,
 'problem': 56883,
 'want': 78303,
 'accept': 4525,
 'barely': 10121,
 'spoke': 67682,
 'english': 26592,
 'funny': 32150,
 'thing': 72279,
 'speak': 67395,
 'arabic': 7735,
 'started': 68399,
 'making': 44779,
 'comments': 18731,
 'girlfriend': 33027,
 'buddy': 13868,
 'second': 63714,
 'realize': 58685,
 'fact': 28915,
 'language': 41996,
 'priceless': 56611,
 'ass': 8444,
 'city': 17332,
 'head': 35373,
 'doorman': 24539,
 'issue': 39796,
 'cab': 14549,
 'company': 18842,
 'promply': 57191,
 'answer': 7086,
 'apologized': 7439,
 'offered': 50799,
 'bucks': 13851,
 'miles': 46604,
 'stadium': 67993,
 'plan': 54924,
 'return': 60898,
 'humpin': 37607,
 'walk': 78113,
 'mind': 46682,
 'right': 61252,
 'christmas': 17135,
 'lights': 42897,
 'homeless': 36572,
 'stowed': 69107,
 'entrances': 26923,
 'leave': 42418,
 'police': 55483,
 'presence': 56398,
 'greatest': 33898,
 'activities': 4873,
 '7': 3586,
 'blocks': 12400,
 'pike': 54619,
 'street': 69207,
 'waterfront': 78624,
 'coffee': 18221,
 'shops': 64953,
 'mantained': 45063,
 'foyer': 31251,
 'tasting': 71107,
 'available': 9029,
 'dog': 24264,
 'taking': 70894,
 'st': 67974,
 'bernard': 11696,
 'family': 29083,
 'safes': 62563,
 'located': 43449,
 'jetted': 40545,
 'house': 37358,
 'keeping': 41152,
 'walked': 78136,
 'getting': 32890,
 'dressed': 24973,
 'knock': 41547,
 'turn': 75066,
 'screamed': 63438,
 'screams': 63442,
 'hit': 36300,
 'floor': 30430,
 'laughing': 42219,
 'spanish': 67305,
 'place': 54811,
 'recommend': 59028,
 'online': 51352,
 'deals': 21944,
 'besite': 11723,
 'contains': 19699,
 'vouchers': 77906,
 'travel': 74322,
 'websites': 78877,
 'love': 43987,
 'husband': 37668,
 'stayed': 68584,
 'crazy': 20700,
 'attending': 8723,
 'memorial': 46046,
 'friend': 31641,
 'celebrating': 15899,
 '12th': 666,
 'wedding': 78890,
 'talk': 70909,
 'emotions': 26388,
 'monte': 47564,
 'carlos': 15334,
 'loaned': 43329,
 'beautiful': 10998,
 'fantanned': 29163,
 'joliet': 40712,
 'visited': 77718,
 'dogs': 24279,
 'human': 37550,
 'companions': 18838,
 'decorated': 22116,
 'nicely': 49260,
 'used': 76667,
 'loccitane': 43568,
 'welcome': 79065,
 'sight': 65405,
 'quiet': 57989,
 'peaceful': 53683,
 'access': 4544,
 'server': 64196,
 'leaving': 42438,
 'problems': 56934,
 'printing': 56766,
 'boarding': 12524,
 'passes': 53426,
 'afternoon': 5441,
 'reception': 58898,
 'serves': 64203,
 'oenophilesatisfying': 50760,
 'australia': 8953,
 'scrumptious': 63487,
 'cookies': 19989,
 'restaurant': 60550,
 'renovation': 59871,
 'finally': 29855,
 'ate': 8561,
 'food': 30753,
 'drinks': 25052,
 'word': 80276,
 'caution': 15774,
 'sit': 65710,
 'booths': 12849,
 'fit': 30096,
 '56': 3198,
 '125': 601,
 'lbs': 42332,
 '59': 3226,
 '175': 1081,
 'table': 70734,
 'smackagainst': 66237,
 'stomach': 68967,
 'couple': 20428,
 'inches': 38424,
 'mighty': 46552,
 'uncomfortable': 75621,
 'patron': 53564,
 'pregnant': 56283,
 'bad': 9572,
 'design': 22739,
 'opinion': 51556,
 'funky': 32131,
 'welcoming': 79091,
 'metal': 46224,
 'wood': 80241,
 'handblown': 34893,
 'glass': 33103,
 'fixtures': 30165,
 'expect': 28268,
 'capital': 15109,
 'art': 8261,
 'industry': 38738,
 'definitely': 22275,
 'reason': 58734,
 'cozy': 20587,
 'rainy': 58281,
 'nights': 49507,
 'early': 25529,
 'january': 40348,
 '2008': 1465,
 'chance': 16282,
 'come': 18513,
 'ridewe': 61212,
 'carlo': 15333,
 'proved': 57355,
 'longish': 43734,
 '905': 4068,
 'noise': 49716,
 'interesting': 39305,
 'dank': 21522,
 'midsection': 46517,
 'office': 50848,
 'plenty': 55224,
 'spread': 67810,
 'attractive': 8832,
 'squeaky': 67924,
 'small': 66243,
 'generous': 32737,
 'proportions': 57276,
 'areas': 7863,
 'lots': 43874,
 'seating': 63642,
 'options': 51657,
 'lighting': 42886,
 'storage': 69040,
 'clothing': 17946,
 'luggage': 44167,
 'efficient': 25890,
 'job': 40622,
 'pleasant': 55116,
 'requests': 60119,
 'responded': 60485,
 'quicklythe': 57971,
 'quite': 58076,
 'market': 45285,
 'museum': 48285,
 'notch': 50116,
 'dining': 23401,
 'optionsa': 51660,
 'positive': 55886,
 'quality': 57760,
 'chocked': 16981,
 'home': 36536,
 'experienced': 28451,
 'exceptional': 28043,
 'door': 24507,
 'men': 46059,
 'maid': 44631,
 'needs': 48852,
 'failed': 28949,
 'tuck': 74962,
 'sheets': 64687,
 'foot': 30913,
 'instance': 39155,
 'soiled': 66776,
 'quickley': 57955,
 'resolved': 60306,
 'relates': 59586,
 'employee': 26409,
 'reflection': 59288,
 'staffwe': 68123,
 'received': 58865,
 'regarding': 59403,
 'resturants': 60793,
 'hour': 37307,
 'homegreat': 36566,
 'close': 17878,
 '5th': 3304,
 'theather': 71856,
 'wellpikes': 79234,
 'pioneer': 54722,
 'mono': 47518,
 'rail': 58221,
 'cruise': 21014,
 'uniquely': 76009,
 'remodeled': 59786,
 'pacific': 52687,
 'bell': 11469,
 'charm': 16475,
 'sturdiness': 69502,
 'everytime': 27785,
 'coming': 18690,
 'secure': 63757,
 'single': 65628,
 'travelers': 74337,
 'fabulous': 28814,
 'needlelittle': 48841,
 'grocerydrug': 34137,
 'store': 69048,
 'today': 73214,
 'bravo': 13245,
 '1': 124,
 'double': 24667,
 'separated': 64084,
 'curtain': 21240,
 'snoring': 66579,
 'mom': 47372,
 'slept': 66092,
 'nearby': 48706,
 'past': 53455,
 'delight': 22434,
 'professional': 57055,
 'smart': 66288,
 'particularly': 53333,
 'liked': 42927,
 'guests': 34360,
 'loved': 43990,
 'mild': 46582,
 'negative': 48887,
 'uphill': 76435,
 'ppmarket': 56111,
 'restaurants': 60599,
 'poor': 55726,
 'value': 77011,
 'july': 40875,
 'priced': 56582,
 '100': 126,
 '150': 847,
 'takes': 70888,
 'beating': 10956,
 'quotient': 58105,
 'simply': 65567,
 'average': 9116,
 'paying': 53631,
 '300': 2241,
 'ca': 14546,
 'terribly': 71632,
 'wife': 79747,
 'nicest': 49305,
 '200night': 1503,
 'overpaying': 52487,
 'shop': 64885,
 'qualitywise': 57792,
 'league': 42358,
 'marriott': 45361,
 'western': 79389,
 '2007': 1443,
 'looked': 43759,
 'comparable': 18851,
 'westin': 79402,
 'pointsmiles': 55437,
 'gave': 32602,
 'pleasantly': 55132,
 'tasty': 71114,
 'especially': 27182,
 'say': 63133,
 'relatively': 59596,
 'exercise': 28185,
 'treadmill': 74427,
 'heck': 35537,
 'east': 25611,
 'coast': 18077,
 'ran': 58371,
 'days': 21775,
 'whimsical': 79610,
 'vibe': 77451,
 'fun': 32076,
 'young': 81091,
 'casual': 15620,
 'group': 34207,
 'reserved': 60244,
 'connecting': 19489,
 'fuss': 32240,
 'weekthe': 79015,
 'decent': 22047,
 'pretty': 56511,
 'bathrooms': 10535,
 'pocket': 55379,
 'ideal': 37861,
 'cheery': 16678,
 'flat': 30235,
 'panel': 52983,
 'fine': 29886,
 'walkable': 78120,
 'attractions': 8810,
 'new': 49093,
 'central': 15993,
 'library': 42765,
 'sam': 62743,
 'benaroya': 11568,
 'concert': 19184,
 'hall': 34793,
 'steep': 68742,
 '29night': 2115,
 'receptions': 58922,
 'popular': 55766,
 'rude': 62289,
 'bellhop': 11490,
 'difficult': 23296,
 'waited': 78029,
 'forever': 31023,
 'heavy': 35532,
 'bags': 9664,
 'throught': 72643,
 'worst': 80459,
 'checking': 16619,
 'tap': 70993,
 'pick': 54501,
 '20': 1376,
 'minutes': 46892,
 'noticed': 50182,
 '1000': 127,
 'dollar': 24309,
 'hold': 36431,
 'credit': 20760,
 'card': 15211,
 'phonecalls': 54411,
 'faxes': 29429,
 'week': 78930,
 'warwck': 78434,
 '4th': 3003,
 'lenora': 42602,
 'okbut': 51006,
 'al': 5933,
 'faces': 28840,
 'tiring': 73125,
 'airport': 5829,
 'touches': 73710,
 'leopard': 42622,
 'robe': 61526,
 'complaint': 18968,
 'wifi': 79764,
 'complimentary': 19056,
 'center': 15953,
 'horrible': 36788,
 'customer': 21286,
 'february': 29501,
 '3rd': 2643,
 '2007my': 1453,
 'appealing': 7473,
 'included': 38465,
 'checkout': 16637,
 'gift': 32946,
 'spa': 67206,
 'earlier': 25521,
 'man': 44871,
 'stood': 68994,
 'pull': 57520,
 'didnçé': 23190,
 'garment': 32501,
 'bag': 9634,
 'suitcase': 69783,
 'key': 41233,
 'number': 50369,
 'says': 63149,
 'park': 53188,
 'working': 80329,
 'gets': 32878,
 'oil': 50966,
 'lotion': 43864,
 'blood': 12419,
 'drops': 25166,
 'disgusted': 23824,
 'unbelievable': 75562,
 'sent': 64066,
 'somebody': 66856,
 'swapped': 70473,
 'apologizing': 7441,
 'sunday': 69942,
 'management': 44884,
 'aggravated': 5624,
 'apparently': 7463,
 'kind': 41378,
 'supervisor': 70172,
 'wait': 78025,
 'monday': 47412,
 'adding': 4981,
 'changed': 16310,
 'fresh': 31549,
 'tone': 73404,
 '3pm': 2641,
 '130': 678,
 'maids': 44636,
 'tried': 74558,
 'remind': 59770,
 'packed': 52707,
 'downstairs': 24816,
 'quickly': 57957,
 'signed': 65469,
 'paper': 53031,
 'closer': 17900,
 'unfortunately': 75906,
 'charged': 16409,
 'ask': 8389,
 'charges': 16429,
 'lady': 41854,
 'answered': 7090,
 'snapped': 66511,
 'aware': 9206,
 'life': 42815,
 'treated': 74444,
 'constantly': 19620,
 'lucky': 44144,
 'ones': 51289,
 'anybody': 7216,
 'anticipating': 7132,
 'based': 10377,
 'seen': 63817,
 'tripadvisor': 74609,
 'disppointment': 23950,
 'envisioned': 26982,
 'impressive': 38306,
 'extremely': 28728,
 'polite': 55508,
 'bellmen': 11505,
 'easily': 25597,
 'overlooked': 52451,
 'mirror': 46987,
 'sagging': 62601,
 'post': 55947,
 'jiggly': 40577,
 'entrance': 26914,
 'handle': 34920,
 'nearly': 48744,
 'falling': 29024,
 'flight': 30335,
 'midweek': 46533,
 'suggested': 69755,
 'ride': 61193,
 'cost': 20252,
 'private': 56812,
 'flatrate': 30244,
 'case': 15534,
 'knew': 41529,
 '30': 2240,
 '38': 2558,
 'insisted': 39124,
 '65': 3463,
 'explained': 28543,
 'kick': 41277,
 'referrals': 59259,
 'andor': 6875,
 'looking': 43766,
 'interests': 39313,
 'years': 80861,
 'planned': 54948,
 'year': 80838,
 'dinner': 23418,
 'holiday': 36455,
 'response': 60491,
 'luck': 44130,
 'finding': 29874,
 'thanks': 71747,
 'centre': 16020,
 'completely': 19016,
 'semifuncitional': 63980,
 'outsourced': 52222,
 'ended': 26517,
 'spending': 67565,
 '50': 3024,
 'money': 47427,
 'refund': 59354,
 '25': 1876,
 'vacation': 76871,
 'troubleshooting': 74789,
 'toll': 73375,
 'line': 43029,
 'times': 72919,
 'assistance': 8476,
 'shrug': 65230,
 'majority': 44740,
 'attitude': 8785,
 'care': 15243,
 'dared': 21541,
 'intrude': 39506,
 'snotty': 66610,
 'occasions': 50600,
 'caught': 15755,
 'girls': 33034,
 'smirking': 66378,
 'turned': 75075,
 'frustrating': 31963,
 'honesty': 36643,
 'end': 26510,
 'dash': 21597,
 'greet': 34027,
 'ignored': 37940,
 'unless': 76056,
 'approached': 7632,
 'saw': 63116,
 'smiling': 66366,
 'fantastic': 29171,
 'holds': 36442,
 'standards': 68248,
 'cities': 17315,
 'attentive': 8751,
 'prompt': 57192,
 'loyalty': 44094,
 'program': 57108,
 'upgraded': 76410,
 '10th': 344,
 'public': 57457,
 'kittycorner': 41497,
 'highly': 36088,
 'tour': 73766,
 'blown': 12457,
 'spacious': 67241,
 'flatscreen': 30246,
 'television': 71409,
 'dvdcd': 25424,
 'player': 55054,
 'means': 45785,
 'adequate': 5028,
 'outstanding': 52227,
 'eliptical': 26165,
 'cardio': 15221,
 'machines': 44448,
 'stationary': 68476,
 'bikes': 12017,
 'personal': 54180,
 'viewing': 77559,
 'screens': 63452,
 'machine': 44443,
 'dvd': 25422,
 'particular': 53329,
 'stylish': 69536,
 'quirky': 58071,
 'inviting': 39569,
 'imagine': 38061,
 'relaxing': 59618,
 ...}

In [19]:
len(bow_transformer.vocabulary_)

81408

# Term Document Frequency(TDM)

In [20]:
trip_bow = bow_transformer.transform(trip.Review)

In [21]:
trip_bow.shape

(20491, 81408)

In [22]:
type(trip_bow)

scipy.sparse.csr.csr_matrix

# Train-test split

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train , x_test , y_train , y_test = train_test_split(trip_bow , trip.Rating , test_size=.2)

# 1) Logistic_Regression

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix , classification_report
logreg= LogisticRegression()

In [30]:
logreg.fit(x_train , y_train )

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [31]:
pred_log = logreg.predict(x_test) 
pred_log

array([3, 5, 1, ..., 4, 5, 3], dtype=int64)

In [32]:
tab_log = confusion_matrix( pred_log , y_test)
tab_log

array([[ 197,   66,   20,    6,    5],
       [  76,  137,   80,   31,   10],
       [  16,   88,  126,  135,   29],
       [   6,   37,  155,  554,  399],
       [   7,   19,   41,  468, 1391]], dtype=int64)

In [33]:
logreg.coef_

array([[ 6.04730726e-02,  4.96311079e-02, -2.65804765e-02, ...,
        -3.41328072e-04, -5.69659697e-04, -2.88474065e-04],
       [-4.24449363e-02, -1.36387322e-01,  7.63829109e-03, ...,
        -4.37593034e-04, -9.42584136e-04, -6.80410258e-04],
       [ 3.83844846e-01,  4.29790619e-02,  4.29231078e-02, ...,
        -8.25792726e-04, -2.32118321e-03, -9.90809222e-03],
       [ 1.62286005e-01, -7.99727144e-02, -5.20730489e-02, ...,
        -1.64573191e-02, -1.01180889e-01, -1.53559861e-01],
       [-5.64158987e-01,  1.23749866e-01,  2.80921264e-02, ...,
         1.80620329e-02,  1.05014317e-01,  1.64436837e-01]])

In [34]:
logreg.intercept_

array([-0.07458033, -0.05736765, -0.32988261,  0.22974277,  0.23208783])

In [35]:
print(classification_report(y_test , pred_log))

              precision    recall  f1-score   support

           1       0.67      0.65      0.66       302
           2       0.41      0.39      0.40       347
           3       0.32      0.30      0.31       422
           4       0.48      0.46      0.47      1194
           5       0.72      0.76      0.74      1834

    accuracy                           0.59      4099
   macro avg       0.52      0.51      0.52      4099
weighted avg       0.58      0.59      0.58      4099

# 2) Decision Tree

# Grid search

In [39]:
from sklearn.model_selection import GridSearchCV

In [40]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()

In [41]:
search_dict = {"criterion" : ('entropy' , 'gini'),
              "max_depth" : ( 3,4,5,6,7,8,9 ,10, 12),
              "min_samples_split": (25, 50 , 75, 100 ,150,200)}

In [42]:
grid_dt = GridSearchCV(dtc , param_grid= search_dict)

In [43]:
grid_dt.fit(x_train, y_train)

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ('entropy', 'gini'),
                         'max_depth': (3, 4, 5, 6, 7, 8, 9, 10, 12),
                         'min_samples_split': (25, 50, 75, 100, 150, 200)})

In [44]:
grid_dt.best_params_

{'criterion': 'gini', 'max_depth': 12, 'min_samples_split': 200}

# DT by using Grid search

In [45]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(criterion="gini" , max_depth = 12 , min_samples_split=200 , class_weight="balanced" )

In [46]:
dtc.fit(x_train , y_train)

DecisionTreeClassifier(class_weight='balanced', max_depth=12,
                       min_samples_split=200)

In [47]:
pred_dtc = dtc.predict(x_test)
pred_dtc

array([1, 5, 3, ..., 5, 4, 2], dtype=int64)

In [48]:
tab_dtc = confusion_matrix(pred_dtc , y_test)
tab_dtc

array([[189, 101,  59,  89, 136],
       [ 67, 103, 101, 179, 173],
       [ 16,  70, 128, 229, 173],
       [ 25,  50,  96, 423, 570],
       [  5,  23,  38, 274, 782]], dtype=int64)

In [49]:
print(classification_report( y_test , pred_dtc))

              precision    recall  f1-score   support

           1       0.33      0.63      0.43       302
           2       0.17      0.30      0.21       347
           3       0.21      0.30      0.25       422
           4       0.36      0.35      0.36      1194
           5       0.70      0.43      0.53      1834

    accuracy                           0.40      4099
   macro avg       0.35      0.40      0.36      4099
weighted avg       0.48      0.40      0.42      4099

# 3) DT with ADA-BOOST

In [50]:
from sklearn.ensemble import AdaBoostClassifier
abc_dtc = AdaBoostClassifier(dtc , n_estimators=25)

In [51]:
abc_dtc.fit(x_train, y_train)

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(class_weight='balanced',
                                                         max_depth=12,
                                                         min_samples_split=200),
                   n_estimators=25)

In [52]:
pred_dtc_boost = abc_dtc.predict(x_test)
pred_dtc_boost

array([2, 5, 4, ..., 4, 4, 4], dtype=int64)

In [53]:
tab_dtc_boost = confusion_matrix(pred_dtc_boost , y_test)
tab_dtc_boost

array([[ 129,   36,    8,    8,    3],
       [ 108,  143,   91,   97,   77],
       [  41,   83,  140,  224,  158],
       [  14,   57,  121,  478,  500],
       [  10,   28,   62,  387, 1096]], dtype=int64)

In [54]:
print(classification_report( y_test , pred_dtc_boost))

              precision    recall  f1-score   support

           1       0.70      0.43      0.53       302
           2       0.28      0.41      0.33       347
           3       0.22      0.33      0.26       422
           4       0.41      0.40      0.40      1194
           5       0.69      0.60      0.64      1834

    accuracy                           0.48      4099
   macro avg       0.46      0.43      0.43      4099
weighted avg       0.53      0.48      0.50      4099

# 4) Random Tree

In [55]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [56]:
search_rf = {"criterion" : ('entropy' , 'gini'),
              "max_depth" : (3,4,5,6,7),
              "n_estimators": (25,50, 100 , 150, 200)}

In [57]:
grid_rf = GridSearchCV(rf , param_grid= search_rf)

In [58]:
grid_rf.fit(x_train , y_train)

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'criterion': ('entropy', 'gini'),
                         'max_depth': (3, 4, 5, 6, 7),
                         'n_estimators': (25, 50, 100, 150, 200)})

In [59]:
grid_rf.best_params_

{'criterion': 'gini', 'max_depth': 7, 'n_estimators': 25}

# RF by using Grid search

In [60]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(criterion= 'gini', max_depth= 7 , n_estimators= 25 , class_weight="balanced")

In [61]:
rf.fit(x_train , y_train)

RandomForestClassifier(class_weight='balanced', max_depth=7, n_estimators=25)

In [62]:
pred_rfc = rf.predict(x_test)
pred_rfc

array([2, 5, 4, ..., 5, 5, 1], dtype=int64)

In [63]:
tab_rfc = confusion_matrix(pred_rfc , y_test)
tab_rfc

array([[ 238,  173,   94,   86,  114],
       [  25,   50,   41,   70,   47],
       [   7,   40,   74,  127,   56],
       [   8,   38,  104,  330,  321],
       [  24,   46,  109,  581, 1296]], dtype=int64)

In [64]:
print(classification_report( y_test , pred_rfc))

              precision    recall  f1-score   support

           1       0.34      0.79      0.47       302
           2       0.21      0.14      0.17       347
           3       0.24      0.18      0.20       422
           4       0.41      0.28      0.33      1194
           5       0.63      0.71      0.67      1834

    accuracy                           0.48      4099
   macro avg       0.37      0.42      0.37      4099
weighted avg       0.47      0.48      0.46      4099

# 5) RF with ADA-BOOST

In [65]:
from sklearn.ensemble import AdaBoostClassifier
abc_rfc = AdaBoostClassifier(rf)

In [66]:
abc_rfc.fit(x_train , y_train)

AdaBoostClassifier(base_estimator=RandomForestClassifier(class_weight='balanced',
                                                         max_depth=7,
                                                         n_estimators=25))

In [67]:
pred_rfc_boost = abc_rfc.predict(x_test)
pred_rfc_boost

array([3, 5, 3, ..., 5, 4, 2], dtype=int64)

In [68]:
tab_rfc_boost = confusion_matrix(pred_rfc_boost , y_test)
tab_rfc_boost

array([[ 135,   15,    4,    0,    2],
       [ 142,  176,   70,   35,   24],
       [  17,  106,  191,  186,   55],
       [   4,   41,  140,  697,  625],
       [   4,    9,   17,  276, 1128]], dtype=int64)

In [69]:
print(classification_report( y_test , pred_rfc_boost))

              precision    recall  f1-score   support

           1       0.87      0.45      0.59       302
           2       0.39      0.51      0.44       347
           3       0.34      0.45      0.39       422
           4       0.46      0.58      0.52      1194
           5       0.79      0.62      0.69      1834

    accuracy                           0.57      4099
   macro avg       0.57      0.52      0.53      4099
weighted avg       0.62      0.57      0.58      4099

# 6) Naive Bayes

In [72]:
from sklearn.naive_bayes import MultinomialNB
naive_bays = MultinomialNB()

In [73]:
nb = naive_bays.fit(x_train , y_train)

In [74]:
pred_nb = nb.predict(x_test)
pred_nb

array([5, 5, 4, ..., 4, 5, 4], dtype=int64)

In [75]:
tab_nb = confusion_matrix(pred_nb , y_test)
tab_nb

array([[  84,    7,    3,    1,    2],
       [ 136,   83,   20,    7,    4],
       [   4,   10,   10,    6,    8],
       [  58,  192,  307,  590,  284],
       [  20,   55,   82,  590, 1536]], dtype=int64)

In [76]:
print(classification_report(y_test , pred_nb))

              precision    recall  f1-score   support

           1       0.87      0.28      0.42       302
           2       0.33      0.24      0.28       347
           3       0.26      0.02      0.04       422
           4       0.41      0.49      0.45      1194
           5       0.67      0.84      0.75      1834

    accuracy                           0.56      4099
   macro avg       0.51      0.37      0.39      4099
weighted avg       0.54      0.56      0.52      4099

# 7) KNN

In [79]:
trip_bow.shape

(20491, 81408)

In [87]:
k=np.sqrt(trip_bow.shape[0])
k

143.1467778191322

In [88]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors= 143)

In [89]:
knn.fit(x_train , y_train)

KNeighborsClassifier(n_neighbors=143)

In [90]:
pred_knn = knn.predict(x_test)
pred_knn

array([5, 5, 5, ..., 5, 5, 5], dtype=int64)

In [91]:
tab_knn = confusion_matrix(pred_knn , y_test)
tab_knn

array([[   3,    0,    0,    0,    0],
       [   3,    2,    0,    0,    0],
       [   0,    0,    0,    0,    0],
       [  20,   55,   68,  200,   81],
       [ 276,  290,  354,  994, 1753]], dtype=int64)

In [92]:
print(classification_report(y_test , pred_knn))

              precision    recall  f1-score   support

           1       1.00      0.01      0.02       302
           2       0.40      0.01      0.01       347
           3       0.00      0.00      0.00       422
           4       0.47      0.17      0.25      1194
           5       0.48      0.96      0.64      1834

    accuracy                           0.48      4099
   macro avg       0.47      0.23      0.18      4099
weighted avg       0.46      0.48      0.36      4099

# 8) SVM

In [99]:
from sklearn.model_selection import GridSearchCV

In [100]:
search_dict = {"kernel" : ('linear', 'poly' , 'rbf', 'sigmoid')}

In [101]:
from sklearn.svm import SVC
svc_model = SVC()

In [102]:
grid_svc = GridSearchCV(svc_model , param_grid= search_dict)

In [110]:
grid_svc.fit(x_train , y_train)

GridSearchCV(estimator=SVC(),
             param_grid={'kernel': ('linear', 'poly', 'rbf', 'sigmoid')})

In [111]:
grid_svc.best_params_

{'kernel': 'rbf'}

# SVM by using grid search

In [93]:
from sklearn.svm import SVC

In [94]:
svm_best = SVC(kernel ='rbf')

In [95]:
svm_best.fit(x_train , y_train)

SVC()

In [96]:
pred_svm = svm_best.predict(x_test)
pred_svm

array([3, 5, 4, ..., 5, 5, 2], dtype=int64)

In [97]:
tab_svm = confusion_matrix(pred_svm , y_test)
tab_svm

array([[ 169,   44,   10,    2,    1],
       [  78,  136,   55,   11,    5],
       [   6,   37,   69,   28,    2],
       [  18,   77,  233,  611,  277],
       [  31,   53,   55,  542, 1549]], dtype=int64)

In [98]:
print(classification_report(y_test , pred_svm))

              precision    recall  f1-score   support

           1       0.75      0.56      0.64       302
           2       0.48      0.39      0.43       347
           3       0.49      0.16      0.24       422
           4       0.50      0.51      0.51      1194
           5       0.69      0.84      0.76      1834

    accuracy                           0.62      4099
   macro avg       0.58      0.49      0.52      4099
weighted avg       0.60      0.62      0.60      4099

# Sentiment Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import math

In [2]:
trip = pd.read_csv(r"D:\Python\Python data set lec\NLP\Trip_advisor_review.csv" )

In [3]:
trip.shape

(20491, 2)

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sent = SentimentIntensityAnalyzer()

In [5]:
score_com = []
score_pos = []
score_neg = []

for i in range (0,trip.shape[0]):
    score = sent.polarity_scores(trip.iloc[i][0]) #this [1] is for the 2nd column(review colomun)
    score1 = score["compound"]
    score_com.append(score1)
    # below 2 lines to extract the positive sentimnet
    score2 = score['pos']
    score_pos.append(score2)

    # below 2 lines to extarct the negative sentimnet
    
    score2 = score["neg"]
    score_neg.append(score2)

In [6]:
np.mean(score_com)

0.8034298862915427

# now we create dataframe

In [7]:
trip['com_score'] = score_com # adding the new column to the datafram
trip['pos_score'] = score_pos
trip['neg_score'] = score_neg

In [8]:
trip.head()

,Review,Rating,com_score,pos_score,neg_score
0,nice hotel expensive parking got good deal sta...,4,0.9747,0.285,0.072
1,ok nothing special charge diamond member hilto...,2,0.9787,0.189,0.110
2,nice rooms not 4* experience hotel monaco seat...,3,0.9889,0.219,0.081
3,"unique, great stay, wonderful time hotel monac...",5,0.9912,0.385,0.060
4,"great stay great stay, went seahawk game aweso...",5,0.9797,0.221,0.135

In [9]:
trip['com_score'].mean()

0.8034298862915489

In [10]:
trip['pos_score'].mean()

0.3103757747303704

In [11]:
trip['neg_score'].mean()

0.07190839880923351

# TextBlob

In [12]:
trip = pd.read_csv(r"D:\Python\Python data set lec\NLP\Trip_advisor_review.csv" )

In [13]:
from textblob import TextBlob

In [14]:
polarity_score=[]

for i in range(0,trip.shape[0]):
    score=TextBlob(trip.iloc[i][0])
    score1=score.sentiment[0]
    polarity_score.append(score1)

In [15]:
trip =pd.concat([trip,pd.Series(polarity_score)], axis=1)
trip

                                                  Review  Rating         0
0      nice hotel expensive parking got good deal sta...       4  0.208744
1      ok nothing special charge diamond member hilto...       2  0.214923
2      nice rooms not 4* experience hotel monaco seat...       3  0.294420
3      unique, great stay, wonderful time hotel monac...       5  0.504825
4      great stay great stay, went seahawk game aweso...       5  0.384615
...                                                  ...     ...       ...
20486  best kept secret 3rd time staying charm, not 5...       5  0.221729
20487  great location price view hotel great quick pl...       4  0.503704
20488  ok just looks nice modern outside, desk staff ...       2  0.171220
20489  hotel theft ruined vacation hotel opened sept ...       1  0.122573
20490  people talking, ca n't believe excellent ratin...       2  0.110615

[20491 rows x 3 columns]

In [16]:
trip.rename(columns={trip.columns[2]: "sentiment_score"}, inplace=True)

In [17]:
trip.head()

                                              Review  Rating  sentiment_score
0  nice hotel expensive parking got good deal sta...       4         0.208744
1  ok nothing special charge diamond member hilto...       2         0.214923
2  nice rooms not 4* experience hotel monaco seat...       3         0.294420
3  unique, great stay, wonderful time hotel monac...       5         0.504825
4  great stay great stay, went seahawk game aweso...       5         0.384615